body {
  font-family: 'Roboto', sans-serif;
  color: black;
  font-size: 14px;
}

.main-wrapper {
  margin: 0 auto;
  width: 720px;
}

.main-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.my-info {
  font-size: 14px;
  margin: 0;
}

.my-profile {
  height: 280px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f7f5f4;
}

.my-profile-container {
  text-align: center;
}

.my-profile img {
  border-radius: 160px;
  height: 160px;
  padding: 8px;
}

.my-profile h1 {
  text-align: center;
  font-size: 24px;
  margin: 0;
  padding-bottom: 16px;
}


.my-info h2{
  font-size: 16px;
  width: max-content;
  padding: 8px 12px;
  border-radius: 8px 8px 0 0;
  margin-top: -32px;
  margin-bottom: 0;
}

.contact {
  background-color: #c3ab9a;
}

.contact-wrapper, .miscellanceous-wrapper {
  display: grid;
  grid-gap: 8px;
  grid-template-columns: 35% 65%;
  padding: 16px 4px 4px;
}

.education {
  background-color: #dacdbe;
}

.miscellanceous {
  background-color: #dcd6cb;
}

.activites {
  background-color: #f6f1ee;
  padding: 4px 16px;
}

.section {
  padding: 4px 16px 40px 16px;
}

.my-work {
  padding: 24px 8px 8px 24px;
  background-color: #f7f5f48a;
}

h2 {
  font-size: 16px;
}

.part {
  padding-right: 8px;

}

.my-work li {
  padding-top: 4px;
}
